@import './styles/variables.css';
@import './styles/theme.css';

.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-neutral-050);
  font-family: var(--font-family);
}
